<a href="https://colab.research.google.com/github/mre9798/Data_science/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
x=df.iloc[:,:4]
y=df.iloc[:,-1]

In [ ]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
yp=knn.predict(x_test)
yp

array(['Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor',
       'Virginica', 'Setosa', 'Virginica', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Setosa'],
      dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy=accuracy_score(y_test,yp)
accuracy

0.9777777777777777

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion=confusion_matrix(y_test.values,yp)
confusion

array([[16,  0,  0],
       [ 0, 14,  1],
       [ 0,  0, 14]])