<a href="https://colab.research.google.com/github/mre9798/Dtat_science/blob/main/navie_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [4]:
ds=pd.read_csv("glass.csv")
ds.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
ds.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [14]:
gaus=GaussianNB()
x=ds.iloc[:,:9]
y=ds.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
gaus.fit(x_train,y_train)
yp=gaus.predict(x_test)
ac=accuracy_score(y_test,yp)

In [15]:
ac

0.49230769230769234